<!-- <?xml version="1.0" encoding="UTF-8"?> why ?-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="Dao.DaoImpl" ></bean>
    <bean id="metier" class="Metier.MetierImpl">
        <property name="Dao" ref="dao"></property>
    </bean>
</beans>